h1 {
    font-family: monospace;
    text-align: center;
    font-size: 50px;
}

h2 {
    font-style: oblique;
    font-size: xx-large;
}

body {
    background-color: rgb(245, 245, 240);
    font-family: monospace;
    text-align: center;
}
img {
    width: 400px;
   
    margin-bottom: 10px;
    
}

.intro {
    text-align: center;
    font-family: monospace;
    font-size: 30px;
    margin: 50px;
}

.title {
    width: 500px;
}

.small-img {
    width: 250px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.d-title {
    display:flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.d-intro {
    display: flex;
    justify-content: space-around;
    flex-flow: column wrap;
}

.d-aduo {
    border: 4px solid black;
    border-style: dashed;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.d-god {
    border: 6px solid rgb(243, 224, 116);
    border-style: dotted;
    color:rgb(33, 23, 89);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#t-aduo{
    text-align: center;
    background-image:linear-gradient(to right, blue 25%, red 50%, yellow 75%);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#t-god{
    width: 600px;
    font-family: 'Franklin Gothic Thinner', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: rgb(232, 209, 80);
    margin-left: 10px;
    display: flex;
    justify-content: center;

}

p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.8px;
}

.sg-pic {
    width: 450px;
    display: flex;
    justify-content: center;
    
}

.quotes {
    font-style: italic;
    color: rgb(74, 74, 74);
}

