h1 {
    font-family: monospace;
    text-align: center;
    font-size: 50px;
}

body {
    background-color: rgb(245, 245, 240);
    font-family: monospace;
    text-align: center;
}
img {
    width: 400px;
   
    margin-bottom: 10px;
    
}

.intro {
    text-align: center;
    font-family: monospace;
    font-size: 30px;
    margin: 50px;
}

.title {
    width: 500px;
}

.small-img {
    width: 250px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.d-title {
    display:flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.d-intro {
    display: flex;
    justify-content: space-around;
    flex-flow: column wrap;
}

.d-aduo {
    border: 4px solid black;
    border-style: dashed;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

#t-aduo{
    text-align: center;
    background-image:linear-gradient(to right, blue 25%, red 50%, yellow 75%);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    font-size: 25px;
}

.sg-pic {
    width: 350px;
    display: flex;
    justify-content: center;
}